WRKDIR={{ dxpb_slave_root }}/{{ item.name }}
ENDPOINT=tcp://{{ dxpb_master }}:5195
REPOREMOTE={{ dxpb_repo_giturl }}
WRKSPEC={{ item.host | default ("x86_64") }}:{{ item.target }}:{{ item.cost | default(100) }}{% if item.cross %}:cross{% endif %}
